<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.AccAddressMapper">

<!--我的地址查询  -->
<select id="getMyAddress" parameterType="int"  resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
SELECT a.address_id AS addressId, a.mobile_no AS mobileNo, a.receive_name AS receiveName,
	   p.area_name AS provinceName, c.area_name AS cityName, d.area_name AS countyName,
	    a.building_name AS buildingName, a.detail_addr AS detailAddr,
	   a.default_flag AS defaultFlag
FROM ACC_ADDRESS a, SYS_USER u, BAS_AREA p, BAS_AREA c, BAS_AREA d
WHERE
	a.user_id = u.user_id AND a.province_id = p.area_id AND a.city_ID = c.area_id AND c.parent_area_id = p.area_id
    AND a.county_id = d.area_id 
    AND d.parent_area_id = c.area_id AND p.area_level = '1' AND c.area_level = '2' AND d.area_level = '3'
    AND a.user_id =#{userId}   
</select>


<!--获取行区列表  -->
<select id="listArea" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
  SELECT area_id AS areaId,area_name AS areaName FROM BAS_AREA WHERE parent_area_id =#{parentAreaId}
</select>


<!--获取小区列表  -->
<select id="listBuilding" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
  SELECT building_id AS buildingId, building_name AS buildingName
  FROM BAS_BUILDING d WHERE county_id = #{countyId} AND status = '1'
</select>


<!--新增地址  -->
<insert id="insert" useGeneratedKeys="true" keyProperty="addressId" parameterType="com.guozha.buyserver.web.controller.account.AddressRequest">  
   INSERT INTO ACC_ADDRESS(user_id,receive_name,mobile_no,province_id,city_id,county_id,building_id,building_name,detail_addr,default_flag)
	VALUES(#{userId},#{receiveName},#{mobileNo},#{provinceId},#{cityId},#{countyId},#{buildingId},#{buildingName},#{detailAddr},#{defaultFlag})
</insert>  


<!-- 删除地址 -->
<delete id="delete" parameterType="int">
  DELETE FROM ACC_ADDRESS WHERE address_id=#{addressId}
</delete>


<!--更改地址状态（是否默认地址）  -->
<update id="defaultAddress" parameterType="com.guozha.buyserver.web.controller.account.AddressRequest">
   UPDATE ACC_ADDRESS  SET   default_flag=#{defaultFlag}
   <where>  
   <if test="defaultFlag==1">
     address_id = #{addressId}
   </if>
   <if test="defaultFlag==0">
     user_id=#{userId}
   </if>
   </where>
</update>


<!--插入未覆盖区域记录表  -->
<insert id="insertNoServiceRecord" useGeneratedKeys="true" keyProperty="noServiceRecordId" parameterType="com.guozha.buyserver.persistence.beans.AccNoServiceRecord">
  	INSERT INTO ACC_NOSERVICE_RECORD 
  	VALUES(#{noServiceRecordId},#{mobileNo},#{provinceId},#{cityId},#{countyId},#{detailAddr},#{recordTime})
</insert>

    <resultMap id="rm" type="com.guozha.buyserver.persistence.beans.AccAddress">
        <result property="addressId" jdbcType="INTEGER" column="ADDRESS_ID"/>
        <result property="userId" jdbcType="INTEGER" column="USER_ID"/>
        <result property="receiveName" jdbcType="VARCHAR" column="RECEIVE_NAME"/>
        <result property="mobileNo" jdbcType="VARCHAR" column="MOBILE_NO"/>
        <result property="provinceId" jdbcType="INTEGER" column="PROVINCE_ID"/>
        <result property="cityId" jdbcType="INTEGER" column="CITY_ID"/>
        <result property="countyId" jdbcType="INTEGER" column="COUNTY_ID"/>
        <result property="buildingId" jdbcType="INTEGER" column="BUILDING_ID"/>
        <result property="buildingName" jdbcType="VARCHAR" column="BUILDING_NAME"/>
        <result property="detailAddr" jdbcType="VARCHAR" column="DETAIL_ADDR"/>
        <result property="defaultFlag" jdbcType="VARCHAR" column="DEFAULT_FLAG"/>
	</resultMap>

    <select id="load" parameterType="java.lang.Integer" resultMap="rm">
        SELECT * FROM ACC_ADDRESS T WHERE T.ADDRESS_ID = #{addressId}
    </select>


</mapper>