<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.AccAddressMapper">

<!--我的地址查询  -->
<select id="getMyAddress" parameterType="int"  resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
SELECT a.address_id AS addressId, a.mobile_no AS mobileNo, a.receive_name AS receiveName,
	   p.area_name AS provinceName, c.area_name AS cityName, d.area_name AS countyName,
	    a.building_name AS buildingName, a.detail_addr AS detailAddr,
	   a.default_flag AS defaultFlag
FROM ACC_ADDRESS a, SYS_USER u, BAS_AREA p, BAS_AREA c, BAS_AREA d
WHERE
	a.user_id = u.user_id AND a.province_id = p.area_id AND a.city_ID = c.area_id AND c.parent_area_id = p.area_id
    AND a.county_id = d.area_id 
    AND d.parent_area_id = c.area_id AND p.area_level = '1' AND c.area_level = '2' AND d.area_level = '3'
    AND a.user_id =#{userId}   
</select>


<!--获取行区列表  -->
<select id="listArea" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
  SELECT area_id AS areaId,area_name AS areaName FROM BAS_AREA WHERE parent_area_id =#{parentAreaId}
</select>


<!--获取小区列表  -->
<select id="listBuilding" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.AddressResponse">
  SELECT building_id AS buildingId, building_name AS buildingName
  FROM BAS_BUILDING d WHERE county_id = #{countyId} AND status = '1'
</select>


<!--新增地址  -->
<insert id="insert" useGeneratedKeys="true" keyProperty="addressId" parameterType="com.guozha.buyserver.web.controller.account.AddressRequest">  
   INSERT INTO ACC_ADDRESS(user_id,receive_name,mobile_no,province_id,city_id,county_id,building_id,building_name,detail_addr,default_flag)
	VALUES(#{userId},#{receiveName},#{mobileNo},#{provinceId},#{cityId},#{countyId},#{buildingId},#{buildingName},#{detailAddr},#{defaultFlag})
</insert>  


<!-- 删除地址 -->
<delete id="delete" parameterType="int">
  DELETE FROM ACC_ADDRESS WHERE address_id=#{addressId}
</delete>


<!--更改地址状态（是否默认地址）  -->
<update id="defaultAddress" parameterType="int">
   UPDATE ACC_ADDRESS SET default_flag = '1'
   WHERE  address_id = #{addressId}
</update>

<!--将用户地址改为非默认  -->
<update id="defaultAddressNo" parameterType="int">
   UPDATE ACC_ADDRESS SET default_flag = '0'
   WHERE user_id=#{userId} 
</update>


</mapper>