<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.AccMyFavoMapper">

    <resultMap id="findFavoRM" type="com.guozha.buyserver.web.controller.account.ListFavoResponse">
        <result property="myFavoId" jdbcType="INTEGER" column="MY_FAVO_ID"/>
        <result property="dirFlag" jdbcType="VARCHAR" column="DIR_FLAG"/>
        <result property="menuId" jdbcType="INTEGER" column="MENU_ID"/>
        <result property="favoName" jdbcType="VARCHAR" column="FAVO_NAME"/>
        <result property="menuImg" jdbcType="BLOB" column="MENU_IMG"/>
        <result property="cookieTime" jdbcType="INTEGER" column="COOKIE_TIME"/>
        <result property="cookieWay" jdbcType="VARCHAR" column="COOKIE_WAY"/>
	</resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="myFavoId">
        INSERT INTO ACC_MY_FAVO (MY_FAVO_ID,USER_ID,DIR_FLAG,MENU_ID,FAVO_NAME,PARENT_ID) VALUES (#{myFavoId},#{userId},#{dirFlag},#{menuId},#{favoName},#{parentId})
    </insert>
    
    <select id="findFavo" parameterType="java.lang.Integer" resultMap="findFavoRM">
        SELECT * FROM (
	        SELECT 
	            T1.MY_FAVO_ID,T1.DIR_FLAG,T1.MENU_ID,T1.FAVO_NAME,'' MENU_IMG,'' COOKIE_TIME,'' COOKIE_WAY 
	        FROM 
	            ACC_MY_FAVO T1
	        WHERE 
	            T1.USER_ID = #{userId}
	            AND T1.DIR_FLAG = '1'
	        UNION ALL
	        SELECT 
	            T1.MY_FAVO_ID,T1.DIR_FLAG,T1.MENU_ID,T1.FAVO_NAME,T2.MENU_IMG,T2.COOKIE_TIME,T2.COOKIE_WAY 
	        FROM 
	            ACC_MY_FAVO T1,MNU_MENU T2
	        WHERE 
	            T1.USER_ID = #{userId}
	            AND T1.DIR_FLAG = '0'
	            AND T1.MENU_ID = T2.MENU_ID
        ) T
        ORDER BY T.DIR_FLAG DESC,T.MY_FAVO_ID
    </select>

</mapper>