<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.AccountMapper">


<!-- 我的菜票查询(所有有效菜票) -->
<select id="listTicketValid" parameterType="int" resultType="com.guozha.buyserver.persistence.beans.AccMyTicket">
  SELECT my_ticket_id AS myTicketId, ticket_type AS ticketType, par_value AS parValue,
	     for_price forPrice, valid_date AS validDate,status AS status
  FROM ACC_MY_TICKET WHERE user_id =#{userId} AND status= '1' 
</select>

<!-- 我的菜票查询(一个月内失效菜票) -->
<select id="listTicketInvalid" parameterType="int" resultType="com.guozha.buyserver.persistence.beans.AccMyTicket">
   SELECT my_ticket_id AS myTicketId, ticket_type AS ticketType, par_value AS parValue,
	     for_price forPrice, valid_date AS validDate,status AS status
  FROM ACC_MY_TICKET WHERE user_id =#{userId}  AND status= '0' AND valid_date >=DATE_SUB(CURDATE(), INTERVAL 30 DAY)
</select>

<!-- 获取账户余额 -->
<select id="getMyBalance" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.BalanceResponse">
  SELECT balance AS balance FROM SYS_USER WHERE user_id=#{userId}
</select>

<!--我的账户信息  -->
<select id="getMyAccountInfo" parameterType="int" resultType="com.guozha.buyserver.web.controller.account.AccountInfoResponse">
  SELECT mobile_no AS mobileNo, head_url AS headImg, balance AS BALANCE, bean_amount AS beanAmount,
	(SELECT COUNT(*) FROM ACC_MY_TICKET t WHERE t.USER_ID = u.USER_ID AND t.status = '1' ) AS ticketAmount
  FROM SYS_USER u WHERE u.user_id =#{userId}
</select>

<!--修改密码  -->
<update id="updatePasswd" parameterType="com.guozha.buyserver.web.controller.account.PasswdRequest">
  UPDATE SYS_USER SET passwd=#{passwd} WHERE mobile_no=#{mobileNo}
</update>

<!--获取用户领用菜票数量  -->
<select id="countDrawTicket" parameterType="int" resultType="int">
  SELECT count(*) FROM ACC_MY_INVITE
  WHERE user_id=#{userId} AND draw_flag='1'
</select>

<!--获取使用的菜票数量  -->
<select id="countUsedTicket" parameterType="int" resultType="int">
  SELECT count(*) FROM ACC_MY_INVITE
  WHERE user_id=#{userId} AND use_flag='1'
</select>

<!--当前最大菜票编号  -->
<select id="getCurrentNo" parameterType="String" resultType="String">
 SELECT  seq_no ticketNo FROM SYS_SEQ WHERE seq_type=#{ticketType}
</select>

<!-- 插入流水表 -->
<insert id="insertSeqNo" useGeneratedKeys="true" keyProperty="seqId" parameterType="com.guozha.buyserver.persistence.beans.SysSeq">
  INSERT INTO SYS_SEQ(seq_no,seq_type)VALUES(#{seqNo},#{seqType})
</insert>

<!-- 更新流水表 -->
<update id="updateSeqNo" parameterType="com.guozha.buyserver.persistence.beans.SysSeq">
 UPDATE SYS_SEQ SET seq_No=#{seqNo} WHERE seq_type=#{seqType}
</update>

<!--生成邀请  -->
<insert id="insertInvite" useGeneratedKeys="true" keyProperty="myInviteId" parameterType="com.guozha.buyserver.persistence.beans.AccMyInvite">
  INSERT INTO ACC_MY_INVITE(MY_INVITE_ID,USER_ID,INVITE_TIME,TICKET_NO,PAR_VALUE,DRAW_FLAG,USE_FLAG)
  VALUES(#{myInviteId},#{userId},#{inviteTime},#{ticketNo},#{parValue},#{drawFlag},#{useFlag})
</insert>
</mapper>