<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.BasFrontTypeMapper">

	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.BasFrontType">
        <result property="frontTypeId" jdbcType="INTEGER" column="FRONT_TYPE_ID"/>
        <result property="typeName" jdbcType="VARCHAR" column="TYPE_NAME"/>
        <result property="shortName" jdbcType="VARCHAR" column="SHORT_NAME"/>
        <result property="level" jdbcType="INTEGER" column="LEVEL"/>
        <result property="sort" jdbcType="INTEGER" column="SORT"/>
        <result property="parentId" jdbcType="VARCHAR" column="PARENT_ID"/>
        <result property="status" jdbcType="VARCHAR" column="STATUS"/>
	</resultMap>
	
	<sql id="BASE_COLUMN_LIST">
		FRONT_TYPE_ID,TYPE_NAME,SHORT_NAME,LEVEL,SORT,PARENT_ID,STATUS
	</sql>
	
	<select id="load" parameterType="int" resultMap="rm">
	    SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BAS_FRONT_TYPE
		WHERE
		    FRONT_TYPE_ID = #{frontTypeId}
	</select>
	
    <!-- 所有类目 -->
	<select id="findAll" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BAS_FRONT_TYPE 
		WHERE STATUS='1'
		ORDER BY SORT ASC
	</select>
	
	<!-- 查询一级类目 -->
	<select id="findFirst" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BAS_FRONT_TYPE
		WHERE
		    STATUS='1'
		    AND PARENT_ID = 0
		    ORDER BY SORT ASC
	</select>
	
	<!-- 查询二级类目 -->
	<select id="findSecond"  parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BAS_FRONT_TYPE
		WHERE
		    STATUS='1'
		    AND PARENT_ID = #{parentId} 
		    ORDER BY SORT ASC
	</select>
	
	<!-- 查询所有一级类目分页 -->
	<select id="findFirstPager" resultMap="rm" parameterType="map">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BAS_FRONT_TYPE
		WHERE
		    STATUS='1'
		    AND PARENT_ID = 0
		ORDER BY SORT ASC
		LIMIT #{startIndex},#{pageSize}
	</select>
</mapper>