<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.BuyCartMapper">

	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.BuyCart">
        <result property="cartId" jdbcType="INTEGER" column="CART_ID"/>
        <result property="userId" jdbcType="INTEGER" column="USER_ID"/>
        <result property="splitType" jdbcType="VARCHAR" column="SPLIT_TYPE"/>
        <result property="goodsOrMenuId" jdbcType="INTEGER" column="GOODS_OR_MENU_ID"/>
        <result property="displayName" jdbcType="INTEGER" column="DISPLAY_NAME"/>
        <result property="amount" jdbcType="INTEGER" column="AMOUNT"/>
        <result property="unit" jdbcType="VARCHAR" column="UNIT"/>
	</resultMap>
		<sql id="BASE_COLUMN_LIST">
		CART_ID,USER_ID,SPLIT_TYPE,GOODS_OR_MENU_ID,DISPLAY_NAME,AMOUNT,UNIT
	</sql>
	
    <!-- 所有用户购物车信息 -->
	<select id="findByUserId" parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BUY_CART
		WHERE
		    USER_ID =#{userId}
		ORDER BY SPLIT_TYPE ASC,CART_ID DESC
	</select>
	
		
	<!-- 所有用户菜谱信息 -->
	<select id="findMenuByUserId"  parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BUY_CART
		WHERE
		    SPLIT_TYPE ='01'
		    AND USER_ID =#{userId}
		ORDER BY CART_ID DESC
	</select>
	
	<!-- 所有用户商品食材信息 -->
	<select id="findGoodsByUserId" parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BUY_CART
		WHERE 
		    SPLIT_TYPE ='02'
		    AND USER_ID =#{userId}
		ORDER BY CART_ID DESC
	</select>
	
	<!-- 删除单个购物车信息 -->
	<delete id="delete" parameterType="int">
	   DELETE FROM BUY_CART WHERE CART_ID = #{cartId}
	</delete>
	
	<!-- 多购物车信息删除 -->
	<delete id="deletes" parameterType="map">
	   DELETE FROM BUY_CART 
	   WHERE CART_ID IN
	   <foreach item="item" index="index" collection="cartId" open="(" separator="," close=")">  
		  #{item}  
	   </foreach>
	</delete>
	
	<!-- 删除已被用户移除的购物车信息 -->
	<delete id="deleteNotIn" parameterType="map">
	   DELETE FROM BUY_CART 
	   WHERE CART_ID NOT IN
	   <foreach item="item" index="index" collection="cartId" open="(" separator="," close=")">  
		  #{item}  
	   </foreach>
	       AND USER_ID = #{userId}
	</delete>
	
	<!-- 清空用户购物车 -->
	<delete id="deleteByUserId" parameterType="int">
	    DELETE FROM BUY_CART WHERE USER_ID = #{userId}  
	</delete>
	
	<update id="update" parameterType="com.guozha.buyserver.persistence.beans.BuyCart">
	    UPDATE BUY_CART SET AMOUNT = #{amount}
		WHERE 
			CART_ID = #{cartId}
	</update>
	
	<!-- 验证是否已存在购物车中 -->
	<select id="selectByGoodsOrMenuId" parameterType="map" resultMap="rm">
	   SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM BUY_CART
		WHERE
		    GOODS_OR_MENU_ID = #{goodsOrMenuId}
		    AND SPLIT_TYPE = #{splitType}
		    AND USER_ID = #{userId}
	</select>
	
	<!-- 添加购物车 -->
	<insert id="insert">
	   INSERT INTO BUY_CART(
	        CART_ID,
	        USER_ID,
	        SPLIT_TYPE,
	        GOODS_OR_MENU_ID,
	        DISPLAY_NAME,
	        AMOUNT,
	        UNIT
	   )VALUES(
	       #{cartId},
	       #{userId},
	       #{splitType},
	       #{goodsOrMenuId},
	       #{displayName},
	       #{amount},
	       #{unit}
	   )
	</insert>
	
</mapper>