<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.BuyOrderMenuGoodsMapper">

    <resultMap id="rm" type="com.guozha.buyserver.persistence.beans.BuyOrderMenuGoods">
        <result property="orderMenuGoodsId" jdbcType="INTEGER" column="ORDER_MENU_GOODS_ID"/>
        <result property="orderId" jdbcType="INTEGER" column="ORDER_ID"/>
        <result property="orderMenuId" jdbcType="INTEGER" column="ORDER_MENU_ID"/>
        <result property="marketId" jdbcType="INTEGER" column="MARKET_ID"/>
        <result property="goodsId" jdbcType="INTEGER" column="GOODS_ID"/>
        <result property="goodsName" jdbcType="VARCHAR" column="GOODS_NAME"/>
        <result property="goodsImg" jdbcType="BLOB" column="GOODS_IMG"/>
        <result property="backTypeId" jdbcType="INTEGER" column="BACK_TYPE_ID"/>
        <result property="unit" jdbcType="VARCHAR" column="UNIT"/>
        <result property="unitPrice" jdbcType="INTEGER" column="UNIT_PRICE"/>
        <result property="amount" jdbcType="INTEGER" column="AMOUNT"/>
        <result property="price" jdbcType="INTEGER" column="PRICE"/>
        <result property="goodsStar" jdbcType="INTEGER" column="GOODS_STAR"/>
	</resultMap>
	
    <select id="findByOrderMenu" parameterType="java.lang.Integer" resultMap="rm">
        SELECT * FROM BUY_ORDER_MENU_GOODS T WHERE T.ORDER_MENU_ID = #{orderMenuId} ORDER BY T.ORDER_MENU_GOODS_ID
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="orderMenuGoodsId">
        INSERT INTO BUY_ORDER_MENU_GOODS (
            ORDER_MENU_GOODS_ID,
            ORDER_ID,
            ORDER_MENU_ID,
            MARKET_ID,
            GOODS_ID,
            GOODS_NAME,
            GOODS_IMG,
            BACK_TYPE_ID,
            UNIT,
            UNIT_PRICE,
            AMOUNT,
            PRICE
        ) VALUES (
            #{orderMenuGoodsId},
            #{orderId},
            #{orderMenuId},
            #{marketId},
            #{goodsId},
            #{goodsName},
            #{goodsImg},
            #{backTypeId},
            #{unit},
            #{unitPrice},
            #{amount},
            #{price}
        )
    </insert>
    
    <!-- 订单菜谱商品打分 -->
    <update id="markOrderMenuGoods"  parameterType="com.guozha.buyserver.persistence.beans.BuyOrderMenuGoods">
       UPDATE 
         BUY_ORDER_MENU_GOODS
       SET
         goods_star = #{goodsStar} 
       WHERE order_menu_goods_id = #{orderMenuGoodsId}
    </update>

</mapper>