<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.BuyOrderGoodsMapper">

    <resultMap id="rm" type="com.guozha.buyserver.persistence.beans.BuyOrderGoods">
        <result property="orderGoodsId" jdbcType="INTEGER" column="ORDER_GOODS_ID"/>
        <result property="orderId" jdbcType="INTEGER" column="ORDER_ID"/>
        <result property="marketId" jdbcType="INTEGER" column="MARKET_ID"/>
        <result property="goodsId" jdbcType="INTEGER" column="GOODS_ID"/>
        <result property="goodsName" jdbcType="VARCHAR" column="GOODS_NAME"/>
        <result property="goodsImg" jdbcType="VARCHAR" column="GOODS_IMG"/>
        <result property="backTypeId" jdbcType="INTEGER" column="BACK_TYPE_ID"/>
        <result property="unit" jdbcType="VARCHAR" column="UNIT"/>
        <result property="unitPrice" jdbcType="INTEGER" column="UNIT_PRICE"/>
        <result property="amount" jdbcType="INTEGER" column="AMOUNT"/>
        <result property="price" jdbcType="INTEGER" column="PRICE"/>
        <result property="goodsStar" jdbcType="INTEGER" column="GOODS_STAR"/>
	</resultMap>
	
    <select id="findByOrder" parameterType="java.lang.Integer" resultMap="rm">
        SELECT * FROM BUY_ORDER_GOODS T WHERE T.ORDER_ID = #{orderId} ORDER BY T.ORDER_GOODS_ID
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="orderGoodsId">
        INSERT INTO BUY_ORDER_GOODS (
            ORDER_GOODS_ID,
            ORDER_ID,
            MARKET_ID,
            GOODS_ID,
            GOODS_NAME,
            GOODS_IMG,
            BACK_TYPE_ID,
            UNIT,
            UNIT_PRICE,
            AMOUNT,
            PRICE
        ) VALUES (
            #{orderGoodsId},
            #{orderId},
            #{marketId},
            #{goodsId},
            #{goodsName},
            #{goodsImg},
            #{backTypeId},
            #{unit},
            #{unitPrice},
            #{amount},
            #{price}
        )
    </insert>
    
    <!-- 订单商品打分 -->
    <update id="markOrderGoods" parameterType="com.guozha.buyserver.persistence.beans.BuyOrderGoods">
      UPDATE 
         BUY_ORDER_GOODS
      SET
         goods_star = #{goodsStar} 
      WHERE order_goods_id = #{orderGoodsId}
    </update>

</mapper>