<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.MnuMenuGoodsMapper">

	<resultMap id="menuGoodsInfoRM" type="com.guozha.buyserver.service.order.impl.MenuGoodsInfo">
	    <result property="amount" jdbcType="INTEGER" column="AMOUNT"/>
        <result property="goodsId" jdbcType="INTEGER" column="GOODS_ID"/>
        <result property="goodsName" jdbcType="VARCHAR" column="GOODS_NAME"/>
        <result property="goodsImg" jdbcType="BLOB" column="GOODS_IMG"/>
        <result property="backTypeId" jdbcType="INTEGER" column="BACK_TYPE_ID"/>
        <result property="unit" jdbcType="VARCHAR" column="UNIT"/>
	</resultMap>
	
	<select id="findMenuGoodsInfo" parameterType="java.lang.Integer" resultMap="menuGoodsInfoRM">
	    SELECT 
	        T1.AMOUNT,T2.GOODS_ID,T2.GOODS_NAME,T2.GOODS_IMG,T2.BACK_TYPE_ID,T2.UNIT 
	    FROM 
	        MNU_MENU_GOODS T1,GOO_GOODS T2 
	    WHERE 
	        T1.GOODS_ID = T2.GOODS_ID 
	        AND T1.MENU_ID = #{menuId}
	</select>
	
</mapper>