<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.MnuMenuPlanMapper">
	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.MnuMenuPlan">
        <result property="menuPlanId" jdbcType="INTEGER" column="MENU_PLAN_ID"/>
        <result property="planDate" jdbcType="TIMESTAMP" column="PLAN_DATE"/>
        <result property="dayDesc" jdbcType="VARCHAR" column="DAY_DESC"/>
        <result property="firstMenuId" jdbcType="INTEGER" column="FIRST_MENU_ID"/>
        <result property="secondMenuId" jdbcType="INTEGER" column="SECOND_MENU_ID"/>
        <result property="thirdMenuId" jdbcType="INTEGER" column="THIRD_MENU_ID"/>
        <result property="fourMenuId" jdbcType="INTEGER" column="FOUR_MENU_ID"/>
        <result property="fiveMenuId" jdbcType="INTEGER" column="FIVE_MENU_ID"/>
	</resultMap>
	
	<sql id="BASE_COLUMN_LIST">
		MENU_PLAN_ID,PLAN_DATE,DAY_DESC,FIRST_MENU_ID,SECOND_MENU_ID,THIRD_MENU_ID,FOUR_MENU_ID,FIVE_MENU_ID
	</sql>
	
	<!-- 菜谱详情 -->
	<select id="load" parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM MNU_MENU
		WHERE 
			MENU_ID = #{menuId} 
	</select>
	
    <!-- 商品菜谱-->
	<select id="findByGoodsId" resultMap="rm">
		SELECT 
			A.MENU_ID,A.MENU_NAME,A.MENU_URL,A.MENU_DESC,A.USE_TIME,A.COOKIE_WAY,A.COOKIE_STEP,A.SEASONINGS,A.STATUS
		FROM MNU_MENU A,MNU_MENU_GOODS B
		WHERE 
		    A.MENU_ID = B.MENU_ID 
		    AND B.GOODS_ID = #{goodsId}
	</select>
	
	
</mapper>
