<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.MnuMenuPlanMapper">
	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.MnuMenuPlan">
        <result property="menuPlanId" jdbcType="INTEGER" column="MENU_PLAN_ID"/>
        <result property="planDate" jdbcType="TIMESTAMP" column="PLAN_DATE"/>
        <result property="dayDesc" jdbcType="VARCHAR" column="DAY_DESC"/>
        <result property="firstMenuId" jdbcType="INTEGER" column="FIRST_MENU_ID"/>
        <result property="secondMenuId" jdbcType="INTEGER" column="SECOND_MENU_ID"/>
        <result property="thirdMenuId" jdbcType="INTEGER" column="THIRD_MENU_ID"/>
        <result property="fourMenuId" jdbcType="INTEGER" column="FOUR_MENU_ID"/>
        <result property="fiveMenuId" jdbcType="INTEGER" column="FIVE_MENU_ID"/>
        <result property="sixMenuId" jdbcType="INTEGER" column="SIX_MENU_ID"/>
	</resultMap>
	
	<sql id="BASE_COLUMN_LIST">
		MENU_PLAN_ID,PLAN_DATE,DAY_DESC,FIRST_MENU_ID,SECOND_MENU_ID,THIRD_MENU_ID,FOUR_MENU_ID,FIVE_MENU_ID,SIX_MENU_ID
	</sql>
	
	<!-- 菜谱详情 -->
	<select id="load" parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM MNU_MENU
		WHERE 
			MENU_ID = #{menuId} 
	</select>
	
    <!-- 商品菜谱-->
	<select id="findByGoodsId" resultMap="rm">
		SELECT 
			A.MENU_ID,A.MENU_NAME,A.MENU_URL,A.MENU_DESC,A.USE_TIME,A.COOKIE_WAY,A.COOKIE_STEP,A.SEASONINGS,A.STATUS
		FROM MNU_MENU A,MNU_MENU_GOODS B
		WHERE 
		    A.MENU_ID = B.MENU_ID 
		    AND B.GOODS_ID = #{goodsId}
	</select>
	
	
	<!--新增我的菜票计划  -->
	<insert id="insertUserMenuPlan" useGeneratedKeys="true" keyProperty="userMenuPlanId" parameterType="com.guozha.buyserver.persistence.beans.MnuUserMenuPlan">
	  INSERT INTO MNU_USER_MENU_PLAN VALUES(#{userMenuPlanId},#{userId},#{planDate},#{firstMenuId},#{secondMenuId},#{thirdMenuId},#{fourMenuId},#{fiveMenuId},#{sixMenuId})
	</insert>
	
	<!--菜谱随机推荐  -->
	<select id="listMenuPlan"   resultType="com.guozha.buyserver.web.controller.menuplan.MenuPlanResponse">
		SELECT 
          DATE_FORMAT(plan_date,'%Y-%m-%d') planDate,
          first_menu_id firstMenuId,
          second_menu_id secondMenuId,
          third_menu_id thirdMenuId,
          four_menu_id fourMenuId,
          five_menu_id fiveMenuId,
          six_menu_id sixMenuId
       FROM
          MNU_MENU_PLAN  
       WHERE plan_date BETWEEN CURDATE()
             AND DATE_ADD(CURDATE(), INTERVAL 6 DAY) ;
	</select>
	
	
	<!--获取菜谱详情  -->
    <select id="menuDetail" parameterType="int" resultType="com.guozha.buyserver.web.controller.menuplan.MenuResponse">
      SELECT
	   m.menu_id AS menuId,
	   m.menu_name AS menuName,
	   m.menu_img AS menuImg,
	   m.menu_desc AS menuDesc,
	   m.cookie_time AS cookieTime,
	   m.cookie_way AS cookieWay,
	   m.seasonings AS seasonings,
	   m.hard_type AS hardType
     FROM
	   MNU_MENU m
     WHERE
	     m.menu_id = #{menuId}
    </select>
    
    
    <!-- 获取菜谱制作详情 -->
    <select id="listMenuCookStep" parameterType="int" resultType="com.guozha.buyserver.persistence.beans.MnuMenuStep">
    SELECT 
      menu_id AS menuId,
      step_desc AS stepDesc,
      step_Img AS stepImg 
   FROM
      MNU_MENU_STEP 
   WHERE menu_id = #{menuId}
   ORDER BY sort_flag
    </select>
	
</mapper>
