<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.MnuMenuMapper">
	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.MnuMenu">
        <result property="menuId" jdbcType="INTEGER" column="MENU_ID"/>
        <result property="menuName" jdbcType="VARCHAR" column="MENU_NAME"/>
        <result property="menuImg" jdbcType="BLOB" column="MENU_IMG"/>
        <result property="menuDesc" jdbcType="VARCHAR" column="MENU_DESC"/>
        <result property="cookieTime" jdbcType="INTEGER" column="COOKIE_TIME"/>
        <result property="cookieWay" jdbcType="VARCHAR" column="COOKIE_WAY"/>
       <!--  <result property="cookieStep" jdbcType="VARCHAR" column="COOKIE_STEP"/>--> 
        <result property="seasonings" jdbcType="VARCHAR" column="SEASONINGS"/>
        <result property="status" jdbcType="VARCHAR" column="STATUS"/>
        
	</resultMap>
	
	<sql id="BASE_COLUMN_LIST">
		MENU_ID,MENU_NAME,MENU_IMG,MENU_DESC,COOKIE_TIME,COOKIE_WAY,SEASONINGS,STATUS
	</sql>
	
	<!-- 菜谱详情 -->
	<select id="load" parameterType="int" resultMap="rm">
		SELECT 
			<include refid="BASE_COLUMN_LIST" />
		FROM MNU_MENU
		WHERE 
			MENU_ID = #{menuId} 
	</select>
	
    <!-- 商品菜谱-->
	<select id="findByGoodsId" resultMap="rm">
		SELECT 
			A.MENU_ID,A.MENU_NAME,A.MENU_IMG,A.MENU_DESC,A.COOKIE_TIME,A.COOKIE_WAY,A.SEASONINGS,A.STATUS
		FROM MNU_MENU A,MNU_MENU_GOODS B
		WHERE 
		    A.MENU_ID = B.MENU_ID 
		    AND B.GOODS_ID = #{goodsId}
	</select>
	
	<select id="findGoodsById" resultType="com.guozha.buyserver.persistence.beans.MnuMenuGoods" parameterType="int">
	      SELECT GOODS_ID goodsId,GOODS_NAME goodsName,AMOUNT amount 
	      FROM MNU_MENU_GOODS
	      WHERE 
	        MENU_ID =#{menuId}
	 
	</select>
	
</mapper>