<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.guozha.buyserver.persistence.mapper.SysUserMapper">

	<resultMap id="rm" type="com.guozha.buyserver.persistence.beans.SysUser">
        <result property="userId" jdbcType="INTEGER" column="USER_ID"/>
        <result property="mobileNo" jdbcType="VARCHAR" column="MOBILE_NO"/>
        <result property="headUrl" jdbcType="VARCHAR" column="HEAD_URL"/>
        <result property="passwd" jdbcType="VARCHAR" column="PASSWD"/>
        <result property="balance" jdbcType="INTEGER" column="BALANCE"/>
        <result property="ticketAmount" jdbcType="INTEGER" column="TICKET_AMOUNT"/>
        <result property="beanAmount" jdbcType="INTEGER" column="BEAN_AMOUNT"/>
        <result property="aftersaleTicketFlag" jdbcType="VARCHAR" column="AFTERSALE_TICKET_FLAG"/>
        <result property="planNotiFlag" jdbcType="VARCHAR" column="PLAN_NOTI_FLAG"/>
        <result property="planNotiTime" jdbcType="VARCHAR" column="PLAN_NOTI_TIME"/>
        <result property="regTime" jdbcType="TIMESTAMP" column="REG_TIME"/>
        <result property="loginTime" jdbcType="TIMESTAMP" column="LOGIN_TIME"/>
        <result property="status" jdbcType="VARCHAR" column="STATUS"/>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="userId">
	    INSERT INTO SYS_USER (
	        USER_ID,
	        MOBILE_NO,
	        PASSWD,
	        REG_TIME,
	        STATUS
	    ) VALUES (
	        #{userId},
	        #{mobileNo},
	        #{passwd},
	        #{regTime},
	        #{status}
	    )
	</insert>
	
	<select id="getUserByMobileNo" parameterType="java.lang.String" resultMap="rm">
	    SELECT * FROM SYS_USER T WHERE T.MOBILE_NO = #{mobileNo}
	</select>
	
	<select id="getLoginUser" parameterType="com.guozha.buyserver.web.controller.account.LoginRequest" resultMap="rm">
	    SELECT * FROM SYS_USER T WHERE T.MOBILE_NO = #{mobileNo} AND T.PASSWD = #{passwd}
	</select>
	
</mapper>